<ng-template #revealTemplate let-c="close">
  <h1 mat-dialog-title>Show email address</h1>
  <div mat-dialog-content>
      <re-captcha (resolved)="resolved($event)" [siteKey]="(recaptchaSiteKey$ | async) ?? ''"></re-captcha>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="" [disabled]="!recaptchaResponse" color="primary">Reveal</button>
  </div>
</ng-template>

<div class="heading">
  <h1 class="visually-hidden">Campus Directory list</h1>
  <form [formGroup]="queryForm">
    <mat-form-field class="query-field">
      <input matInput cdkFocusInitial cdkTrapFocusAutoCapture cdkTrapFocus formControlName="name" type="text" placeholder="search by first or last name" autocomplete="off">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <h2 *ngIf="count > 0" aria-live="polite">
    Showing {{count}}
    <span *ngIf="totalCount > count">
      of {{totalCount}}
    </span>
    directory listing{{count == 1 ? '' : 's'}}
    <span *ngIf="department">
      for {{ department }}
    </span>
  </h2>
  <h2 *ngIf="count == 0" aria-live="polite">Please enter a name in the search box above</h2>
</div>

<mat-list role="list">
  <mat-progress-bar *ngIf="busy" mode="indeterminate" aria-label="Search progress"></mat-progress-bar>
  <mat-divider class="progress" *ngIf="!busy" aria-hidden="true"></mat-divider>
  <mat-list-item *ngFor="let person of data; last as isLastPerson" ngClass.lt-md="collapsed-list" role="listitem">
    <div matLine fxLayout="row" fxLayoutGap="1em" fxLayout.lt-md="column" fxLayoutGap.lt-md="0">
      <div fxFlex="grow" role="heading" aria-level="3">
        <b>{{person.firstName}} {{person.lastName}}</b>
      </div>
      <div fxLayoutAlign="start center" class="icon-column">
        <mat-icon>phone</mat-icon>
        <a href="tel:{{person.phone}}">{{person.phone}}</a>
      </div>
      <div fxLayoutAlign="start center" class="icon-column">
        <mat-icon>email</mat-icon>
        <a *ngIf="person.email" href="mailto:{{person.email}}">{{person.email}}</a>
        <a *ngIf="!person.email" (click)="reveal(revealTemplate, person)" class="reveal-link">Show email</a>
      </div>
    </div>
    <div mat-line efxLayout="row">
      <div fxFlex="grow">
        {{person.pronouns}}
      </div>
    </div>
    <div mat-line fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="grow">
        {{person.title}}<span *ngIf="person.title">, </span>{{person.department}}, {{person.office}}
      </div>
      <div>
        Mail stop {{person.mailStop}}
      </div>
    </div>
    <mat-divider *ngIf="!isLastPerson" aria-hidden="true"></mat-divider>
  </mat-list-item>
</mat-list>
