<nav mat-tab-nav-bar aria-label="search options" color="accent" backgroundColor="primary">
  <a mat-tab-link *ngFor="let link of [{label: 'Search by Name', path: 'banner-person'}, {label: 'List Employees by Department', path: 'banner-department'}]" [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> {{link.label}} </a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
