<div class="heading">
  <h1 class="visually-hidden">Campus Directory department list</h1>
  <form [formGroup]="queryForm">
    <mat-form-field class="query-field">
      <input matInput cdkFocusInitial cdkTrapFocusAutoCapture cdkTrapFocus formControlName="queryString" type="text" placeholder="search by department name" autocomplete="off">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <h2 *ngIf="count > 0" aria-live="polite">
    Showing {{count}}
    <span *ngIf="totalCount > count">
      of {{totalCount}}
    </span>
    department listing{{count == 1 ? '' : 's'}}
  </h2>
  <h2 *ngIf="count == 0" aria-live="polite">Please enter a department name in the search box above</h2>
</div>

<mat-progress-bar *ngIf="busy" mode="indeterminate" aria-label="Search progress"></mat-progress-bar>
<mat-divider class="progress" *ngIf="!busy" aria-hidden="true"></mat-divider>

<mat-nav-list>
  <a mat-list-item [attr.aria-label]="department.department" *ngFor="let department of data;" [routerLink]="['/banner-department', department.id]" class="list-group-item list-group-item-action" role="listitem">
    {{department.department}}
  </a>
</mat-nav-list>
