.heading {
  padding-top: 1em;
  padding-left: 1em;
}

.query-field {
  width: calc(100% - 1em);
}

.mat-list-item {
  height: 48px;
}

.cdk-virtual-scroll-viewport {
  // height: 100%;
  height: 480px;
}

.mat-list-item a {
  width: 100%;
  white-space: nowrap;
}

.icon-column :first-child {
  margin-right: 0.2em;
}

.collapsed-list .mat-list-item-content,
.collapsed-list {
  height: 8em !important;
}

.progress {
  margin-bottom: 3px;
}
