<h1 mat-dialog-title>Leave page</h1>

<div mat-dialog-content>
  <p>Leave this page with unsaved changes?</p>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="closeDialog(false)" cdkFocusInitial>No</button>
    <button mat-button (click)="closeDialog(true)">Yes</button>
</div>
