a,
dl dt,
label,
legend {
  font-weight: var(--font-weight--semibold)
}
.flowchart figcaption,
.icon-with-text,
.my-western-icon,
.status-alert h2,
.status-alert h3,
.status-alert h4,
.status-alert h5,
.status-alert h6,
th[colspan] {
  text-align: center
}
caption,
h1 {
  padding-bottom: var(--space--md)
}
a,
h4 {
  color: var(--blue--darker--20)
}
#drupal-off-canvas .button,
.ultimenu > li {
  min-width: initial
}
:root {
  --black: #262b2f;
  --gray--darker--80: #14181b;
  --gray--darker--60: #293036;
  --gray--darker--40: #3d4950;
  --gray--darker--20: #52616b;
  --gray: #667986;
  --gray--lighter--20: #8394a0;
  --gray--lighter--40: #a2afb8;
  --gray--lighter--60: #c1cad0;
  --gray--lighter--80: #e0e4e7;
  --gray--lighter--90: #f0f2f3;
  --white: #fff;
  --dark-blue--darker--80: #000d1b;
  --dark-blue--darker--60: #001936;
  --dark-blue--darker--40: #002651;
  --dark-blue--darker--20: #00326c;
  --dark-blue: #003f87;
  --dark-blue--lighter--20: #0062d2;
  --dark-blue--lighter--40: #1e87ff;
  --dark-blue--lighter--60: #69afff;
  --dark-blue--lighter--80: #b4d7ff;
  --blue--darker--80: #001828;
  --blue--darker--60: #003150;
  --blue--darker--40: #004978;
  --blue--darker--20: #0062a0;
  --blue: #007ac8;
  --blue--lighter--20: #079eff;
  --blue--lighter--40: #45b6ff;
  --blue--lighter--60: #83cfff;
  --blue--lighter--80: #c1e7ff;
  --dark-green--darker--80: #00150d;
  --dark-green--darker--60: #002b19;
  --dark-green--darker--40: #004026;
  --dark-green--darker--20: #005632;
  --dark-green: #006b3f;
  --dark-green--lighter--20: #338965;
  --dark-green--lighter--40: #66a68c;
  --dark-green--lighter--60: #99c4b2;
  --dark-green--lighter--80: #cce1d9;
  --green--darker--80: #0f1a06;
  --green--darker--60: #1e340c;
  --green--darker--40: #2c4e12;
  --green--darker--20: #3b6818;
  --green: #4a821e;
  --green--lighter--20: #6e9b4b;
  --green--lighter--40: #92b478;
  --green--lighter--60: #b7cda5;
  --green--lighter--80: #dbe6d2;
  --light-green--darker--80: #252b02;
  --light-green--darker--60: #4a5604;
  --light-green--darker--40: #708206;
  --light-green--darker--20: #95ad08;
  --light-green: #bad80a;
  --light-green--lighter--20: #c8e03b;
  --light-green--lighter--40: #d6e86c;
  --light-green--lighter--60: #e3ef9d;
  --light-green--lighter--80: #f1f7ce;
  --red: #cc2d30;
  --yellow: #ffc61e;
  --yellow--lighter--40: #ffe38f;
  --purple--lighter--80: #ebcfee;
  --purple--lighter--60: #d79fdc;
  --purple--lighter--40: #c26fcb;
  --purple--lighter--20: #ae3fb9;
  --purple: #9a0fa8;
  --black--rgb: 28,32,35;
  --blue--rgb: 0,122,200;
  --dark-blue--darker--40--rgb: 0,38,81;
  --green--rgb: 93,162,37;
  --light-green--rgb: 186,216,10;
  --red--rgb: 204,45,48;
  --yellow--rgb: 255,198,30;
  --white--rgb: 255,255,255;
  --gradient--vertical--light-blue: linear-gradient(
  to bottom,
  var(--blue--lighter--40) 0,
  var(--blue--lighter--60) 100%
);
  --gradient--vertical--dark-blue: linear-gradient(
  to bottom,
  var(--dark-blue--darker--40) 0,
  var(--dark-blue) 100%
);
  --gradient--vertical--light-green: linear-gradient(
  to bottom,
  var(--light-green--lighter--20) 0,
  var(--light-green) 100%
);
  --gradient--vertical--blue-to-dark-blue: linear-gradient(
  to bottom,
  var(--blue),
  rgba(var(--dark-blue--darker--40--rgb), 0.9)
);
  --gradient--horizontal--dark-blue-to-transparent: linear-gradient(
  to right,
  rgba(var(--dark-blue--darker--40--rgb), 1) 0%,
  rgba(var(--dark-blue--darker--40--rgb), 0.5) 100%
);
  --gradient--diagonal--blue-to-dark-blue: linear-gradient(
  to right bottom,
  #002f5e,
  #003266,
  #00356d,
  #003875,
  #003b7d,
  #004186,
  #01478e,
  #004d97,
  #0058a3,
  #0063b0,
  #006ebc,
  #007ac8
);
  --gradient--diagonal--dark-blue-to-black: linear-gradient(
  to left bottom,
  #1c2023,
  #18242d,
  #122738,
  #0a2a44,
  #022d4f,
  #00335c,
  #013a69,
  #044077,
  #074e8b,
  #085c9f,
  #066bb3,
  #007ac8
);
  --font--sans-serif: "Fira Sans",sans-serif;
  --font--serif: "PT Serif",serif;
  --font--hyperlegible: "Atkinson Hyperlegible",sans-serif;
  --font--dyslexia-friendly: "Open Dyslexic",sans-serif;
  --font--title: "Montserrat",sans-serif;
  --font--condensed: "Fira Sans Extra Condensed",sans-serif;
  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--semibold: 600;
  --font-weight--bold: 700;
  --font-weight--black: 900;
  --font-size--xs: 0.6em;
  --font-size--sm: 0.9em;
  --font-size--md: 1em;
  --font-size--lg: 1.125em;
  --font-size--xl: 1.266em;
  --font-size--2xl: 1.424em;
  --font-size--3xl: 1.602em;
  --font-size--4xl: 1.802em;
  --font-size--5xl: 2.027em;
  --font-size--6xl: 2.281em;
  --font-size--7xl: 2.566em;
  --font-size--8xl: 3.653em;
  --font-size--9xl: 4.11em;
  --space--2xs: 0.25rem;
  --space--xs: 0.5rem;
  --space--sm: 0.75rem;
  --space--md: 1rem;
  --space--lg: 1.5rem;
  --space--xl: 2rem;
  --space--2xl: 3rem;
  --space--3xl: 4rem;
  --content-area-max-width: 60rem;
  --content-area-max-width--sm: 40rem;
  --grid-columns--sm: var(--space--sm) 1fr var(--space--sm);
  --grid-columns--lg: 1fr var(--content-area-max-width) 1fr;
  --border-width--sm: 0.0625rem;
  --border-width--md: 0.125rem;
  --border-width--lg: 0.1875rem;
  --border-radius--roundest: 6.25rem;
  --border-radius--rounder: 0.625rem;
  --border-radius--round: 0.125rem;
  --shadow--hard: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.4),0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
  --shadow--soft: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
  --shadow--soft--hover: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
  --shadow--dark-mode: 0 0.1875rem 0.375rem rgba(0, 122, 200, 0.7),0 0.1875rem 0.375rem rgba(0, 63, 135, 0.9);
  --shadow--dark-mode--hover: 0 0.0625rem 0.1875rem rgba(0, 122, 200, 0.12),0 0.0625rem 0.125rem rgba(0, 63, 135, 0.24);
  --icon-size--xs: 1.125rem;
  --icon-size--sm: 1.5rem;
  --icon-size--md: 2.25rem;
  --icon-size--lg: 3rem;
  --toggle-size--sm: 3rem;
  --toggle-size--md: 3.5rem;
  --toggle-size--lg: 4.5rem;
  --toggle-size--xl: 5.5rem;
  --toggle-size--2xl: 6.5rem;
  --touch-target--min: 44px;
  --logo-size: 8rem;
  --logo--horizontal--width: 25rem;
  --logo--horizontal--height: 6.25rem;
  --checkbox-size: 1rem;
  --transition-speed--slow: 800ms;
  --transition-speed--md: 400ms;
  --transition-speed--fast: 200ms;
  --ease--standard: ease
}
.black-bg h2,
.black-gradient-overlay h2,
.black-overlay h2,
.blue-bg h1,
.blue-gradient-bg h1,
.blue-overlay h1,
.dark-blue-bg h2,
.dark-blue-gradient-bg h1,
.dark-blue-overlay h2,
.dark-green-bg h2,
.dark-mode .gray-bg h1,
.dark-mode .green-bg h1,
.dark-mode .job-title h2,
.dark-mode .light-blue-bg h1,
.dark-mode .light-gray-bg h1,
.dark-mode .light-green-bg h1,
.dark-mode .lightest-blue-bg h1,
.dark-mode .lightest-gray-bg h1,
.dark-mode .pronouns h2,
.dark-mode .taxonomy-term h2,
.dark-mode blockquote.pullquote h2,
.dark-mode blockquote:not([class]) h1,
.dark-mode h2,
.dark-mode table h1,
.dark-mode table.light-blue h1,
.dark-mode table.lightest-gray h1,
.darkest-blue-bg h2,
.gray-bg h1,
.green-bg h1,
.job-title h2,
.pronouns h2,
.taxonomy-term h2,
[class*="-bg"] .job-title h2,
[class*="-bg"] .pronouns h2,
[class*="-bg"] .taxonomy-term h2 {
  color: var(--light-green--lighter--20)
}
.black-bg a,
.black-bg a.patternLink,
.black-gradient-overlay a,
.black-gradient-overlay a.patternLink,
.black-overlay a,
.black-overlay a.patternLink,
.cta.outline.light-blue:visited,
.dark-blue-bg a,
.dark-blue-bg a.patternLink,
.dark-blue-overlay a,
.dark-blue-overlay a.patternLink,
.dark-green-bg a,
.dark-green-bg a.patternLink,
.dark-mode .accordion-set:not([class$="-bg"]) .item .title .expand,
.dark-mode .accordion-set:not([class$="-bg"]) .item .title .expand .material-icons,
.dark-mode .cta.outline.light-blue:visited,
.dark-mode .job-title a,
.dark-mode .job-title a.patternLink,
.dark-mode .page-content a.icon-with-text,
.dark-mode .pronouns a,
.dark-mode .pronouns a.patternLink,
.dark-mode .sg-pattern-example a.icon-with-text,
.dark-mode .taxonomy-term a,
.dark-mode .taxonomy-term a.patternLink,
.dark-mode .user-login-form .outline.light-blue.cas-login-link:visited,
.dark-mode a,
.dark-mode a.button.outline.light-blue:visited,
.dark-mode a.patternLink,
.dark-mode blockquote.pullquote a,
.dark-mode blockquote.pullquote a.patternLink,
.darkest-blue-bg a,
.darkest-blue-bg a.patternLink,
.job-title a,
.job-title a.patternLink,
.pronouns a,
.pronouns a.patternLink,
.taxonomy-term a,
.taxonomy-term a.patternLink,
.user-login-form .dark-mode .outline.light-blue.cas-login-link:visited,
.user-login-form .outline.light-blue.cas-login-link:visited,
.user-login-form [class*="-bg"] .outline.light-blue.cas-login-link:visited,
.user-login-form [class*="-overlay"] .outline.light-blue.cas-login-link:visited,
[class*="-bg"] .cta.outline.light-blue:visited,
[class*="-bg"] .job-title a,
[class*="-bg"] .job-title a.patternLink,
[class*="-bg"] .pronouns a,
[class*="-bg"] .pronouns a.patternLink,
[class*="-bg"] .taxonomy-term a,
[class*="-bg"] .taxonomy-term a.patternLink,
[class*="-bg"] .user-login-form .outline.light-blue.cas-login-link:visited,
[class*="-bg"] a.button.outline.light-blue:visited,
[class*="-overlay"] .cta.outline.light-blue:visited,
[class*="-overlay"] .user-login-form .outline.light-blue.cas-login-link:visited,
[class*="-overlay"] a.button.outline.light-blue:visited,
a.button.outline.light-blue:visited {
  color: var(--blue--lighter--40)
}
.black-bg a.patternLink:visited,
.black-bg a:visited,
.black-gradient-overlay a.patternLink:visited,
.black-gradient-overlay a:visited,
.black-overlay a.patternLink:visited,
.black-overlay a:visited,
.dark-blue-bg a.patternLink:visited,
.dark-blue-bg a:visited,
.dark-blue-overlay a.patternLink:visited,
.dark-blue-overlay a:visited,
.dark-green-bg a.patternLink:visited,
.dark-green-bg a:visited,
.dark-mode .job-title a.patternLink:visited,
.dark-mode .job-title a:visited,
.dark-mode .pronouns a.patternLink:visited,
.dark-mode .pronouns a:visited,
.dark-mode .taxonomy-term a.patternLink:visited,
.dark-mode .taxonomy-term a:visited,
.dark-mode a.patternLink:visited,
.dark-mode a:visited,
.dark-mode blockquote.pullquote a.patternLink:visited,
.dark-mode blockquote.pullquote a:visited,
.darkest-blue-bg a.patternLink:visited,
.darkest-blue-bg a:visited,
.job-title a.patternLink:visited,
.job-title a:visited,
.pronouns a.patternLink:visited,
.pronouns a:visited,
.taxonomy-term a.patternLink:visited,
.taxonomy-term a:visited,
[class*="-bg"] .job-title a.patternLink:visited,
[class*="-bg"] .job-title a:visited,
[class*="-bg"] .pronouns a.patternLink:visited,
[class*="-bg"] .pronouns a:visited,
[class*="-bg"] .taxonomy-term a.patternLink:visited,
[class*="-bg"] .taxonomy-term a:visited {
  color: var(--purple--lighter--80)
}
.black-bg a.patternLink:active,
.black-bg a.patternLink:focus,
.black-bg a.patternLink:hover,
.black-bg a:active,
.black-bg a:focus,
.black-bg a:hover,
.black-gradient-overlay a.patternLink:active,
.black-gradient-overlay a.patternLink:focus,
.black-gradient-overlay a.patternLink:hover,
.black-gradient-overlay a:active,
.black-gradient-overlay a:focus,
.black-gradient-overlay a:hover,
.black-overlay a.patternLink:active,
.black-overlay a.patternLink:focus,
.black-overlay a.patternLink:hover,
.black-overlay a:active,
.black-overlay a:focus,
.black-overlay a:hover,
.dark-blue-bg a.patternLink:active,
.dark-blue-bg a.patternLink:focus,
.dark-blue-bg a.patternLink:hover,
.dark-blue-bg a:active,
.dark-blue-bg a:focus,
.dark-blue-bg a:hover,
.dark-blue-overlay a.patternLink:active,
.dark-blue-overlay a.patternLink:focus,
.dark-blue-overlay a.patternLink:hover,
.dark-blue-overlay a:active,
.dark-blue-overlay a:focus,
.dark-blue-overlay a:hover,
.dark-green-bg a.patternLink:active,
.dark-green-bg a.patternLink:focus,
.dark-green-bg a.patternLink:hover,
.dark-green-bg a:active,
.dark-green-bg a:focus,
.dark-green-bg a:hover,
.dark-mode .job-title a.patternLink:active,
.dark-mode .job-title a.patternLink:focus,
.dark-mode .job-title a.patternLink:hover,
.dark-mode .job-title a:active,
.dark-mode .job-title a:focus,
.dark-mode .job-title a:hover,
.dark-mode .pronouns a.patternLink:active,
.dark-mode .pronouns a.patternLink:focus,
.dark-mode .pronouns a.patternLink:hover,
.dark-mode .pronouns a:active,
.dark-mode .pronouns a:focus,
.dark-mode .pronouns a:hover,
.dark-mode .taxonomy-term a.patternLink:active,
.dark-mode .taxonomy-term a.patternLink:focus,
.dark-mode .taxonomy-term a.patternLink:hover,
.dark-mode .taxonomy-term a:active,
.dark-mode .taxonomy-term a:focus,
.dark-mode .taxonomy-term a:hover,
.dark-mode a.patternLink:active,
.dark-mode a.patternLink:focus,
.dark-mode a.patternLink:hover,
.dark-mode a:active,
.dark-mode a:focus,
.dark-mode a:hover,
.dark-mode blockquote.pullquote a.patternLink:active,
.dark-mode blockquote.pullquote a.patternLink:focus,
.dark-mode blockquote.pullquote a.patternLink:hover,
.dark-mode blockquote.pullquote a:active,
.dark-mode blockquote.pullquote a:focus,
.dark-mode blockquote.pullquote a:hover,
.darkest-blue-bg a.patternLink:active,
.darkest-blue-bg a.patternLink:focus,
.darkest-blue-bg a.patternLink:hover,
.darkest-blue-bg a:active,
.darkest-blue-bg a:focus,
.darkest-blue-bg a:hover,
.job-title a.patternLink:active,
.job-title a.patternLink:focus,
.job-title a.patternLink:hover,
.job-title a:active,
.job-title a:focus,
.job-title a:hover,
.pronouns a.patternLink:active,
.pronouns a.patternLink:focus,
.pronouns a.patternLink:hover,
.pronouns a:active,
.pronouns a:focus,
.pronouns a:hover,
.taxonomy-term a.patternLink:active,
.taxonomy-term a.patternLink:focus,
.taxonomy-term a.patternLink:hover,
.taxonomy-term a:active,
.taxonomy-term a:focus,
.taxonomy-term a:hover,
[class*="-bg"] .job-title a.patternLink:active,
[class*="-bg"] .job-title a.patternLink:focus,
[class*="-bg"] .job-title a.patternLink:hover,
[class*="-bg"] .job-title a:active,
[class*="-bg"] .job-title a:focus,
[class*="-bg"] .job-title a:hover,
[class*="-bg"] .pronouns a.patternLink:active,
[class*="-bg"] .pronouns a.patternLink:focus,
[class*="-bg"] .pronouns a.patternLink:hover,
[class*="-bg"] .pronouns a:active,
[class*="-bg"] .pronouns a:focus,
[class*="-bg"] .pronouns a:hover,
[class*="-bg"] .taxonomy-term a.patternLink:active,
[class*="-bg"] .taxonomy-term a.patternLink:focus,
[class*="-bg"] .taxonomy-term a.patternLink:hover,
[class*="-bg"] .taxonomy-term a:active,
[class*="-bg"] .taxonomy-term a:focus,
[class*="-bg"] .taxonomy-term a:hover {
  color: var(--black);
  outline-color: var(--blue--lighter--40);
  background-image: var(--gradient--vertical--light-blue)
}
.black-bg .play-button,
.black-bg .social-icon,
.black-gradient-overlay .play-button,
.black-gradient-overlay .social-icon,
.black-overlay .play-button,
.black-overlay .social-icon,
.blue-bg .play-button,
.blue-bg .social-icon,
.blue-gradient-bg .play-button,
.blue-gradient-bg .social-icon,
.blue-overlay .play-button,
.blue-overlay .social-icon,
.cta.white,
.dark-blue-bg .play-button,
.dark-blue-bg .social-icon,
.dark-blue-gradient-bg .play-button,
.dark-blue-gradient-bg .social-icon,
.dark-blue-overlay .play-button,
.dark-blue-overlay .social-icon,
.dark-green-bg .play-button,
.dark-green-bg .social-icon,
.dark-mode .cta.white,
.dark-mode .gray-bg .play-button,
.dark-mode .gray-bg .social-icon,
.dark-mode .green-bg .play-button,
.dark-mode .green-bg .social-icon,
.dark-mode .job-title .play-button,
.dark-mode .job-title .social-icon,
.dark-mode .light-blue-bg .play-button,
.dark-mode .light-blue-bg .social-icon,
.dark-mode .light-gray-bg .play-button,
.dark-mode .light-gray-bg .social-icon,
.dark-mode .light-green-bg .play-button,
.dark-mode .light-green-bg .social-icon,
.dark-mode .lightest-blue-bg .play-button,
.dark-mode .lightest-blue-bg .social-icon,
.dark-mode .lightest-gray-bg .play-button,
.dark-mode .lightest-gray-bg .social-icon,
.dark-mode .play-button,
.dark-mode .pronouns .play-button,
.dark-mode .pronouns .social-icon,
.dark-mode .social-icon,
.dark-mode .taxonomy-term .play-button,
.dark-mode .taxonomy-term .social-icon,
.dark-mode .user-login-form .white.cas-login-link,
.dark-mode a.button.white,
.dark-mode blockquote.pullquote .play-button,
.dark-mode blockquote.pullquote .social-icon,
.dark-mode blockquote:not([class]) .play-button,
.dark-mode blockquote:not([class]) .social-icon,
.dark-mode table .play-button,
.dark-mode table .social-icon,
.dark-mode table.light-blue .play-button,
.dark-mode table.light-blue .social-icon,
.dark-mode table.lightest-gray .play-button,
.dark-mode table.lightest-gray .social-icon,
.darkest-blue-bg .play-button,
.darkest-blue-bg .social-icon,
.gray-bg .play-button,
.gray-bg .social-icon,
.green-bg .play-button,
.green-bg .social-icon,
.job-title .play-button,
.job-title .social-icon,
.pronouns .play-button,
.pronouns .social-icon,
.taxonomy-term .play-button,
.taxonomy-term .social-icon,
.user-login-form .dark-mode .white.cas-login-link,
.user-login-form .white.cas-login-link,
.user-login-form [class*="-bg"] .white.cas-login-link,
.user-login-form [class*="-overlay"] .white.cas-login-link,
[class*="-bg"] .cta.white,
[class*="-bg"] .job-title .play-button,
[class*="-bg"] .job-title .social-icon,
[class*="-bg"] .pronouns .play-button,
[class*="-bg"] .pronouns .social-icon,
[class*="-bg"] .taxonomy-term .play-button,
[class*="-bg"] .taxonomy-term .social-icon,
[class*="-bg"] .user-login-form .white.cas-login-link,
[class*="-bg"] a.button.white,
[class*="-overlay"] .cta.white,
[class*="-overlay"] .user-login-form .white.cas-login-link,
[class*="-overlay"] a.button.white,
a.button.white {
  color: var(--dark-blue);
  background: var(--white)
}
.black-bg .play-button svg,
.black-bg .social-icon svg,
.black-gradient-overlay .play-button svg,
.black-gradient-overlay .social-icon svg,
.black-overlay .play-button svg,
.black-overlay .social-icon svg,
.blue-bg .play-button svg,
.blue-bg .social-icon svg,
.blue-gradient-bg .play-button svg,
.blue-gradient-bg .social-icon svg,
.blue-overlay .play-button svg,
.blue-overlay .social-icon svg,
.dark-blue-bg .play-button svg,
.dark-blue-bg .social-icon svg,
.dark-blue-gradient-bg .play-button svg,
.dark-blue-gradient-bg .social-icon svg,
.dark-blue-overlay .play-button svg,
.dark-blue-overlay .social-icon svg,
.dark-green-bg .play-button svg,
.dark-green-bg .social-icon svg,
.dark-mode .gray-bg .play-button svg,
.dark-mode .gray-bg .social-icon svg,
.dark-mode .green-bg .play-button svg,
.dark-mode .green-bg .social-icon svg,
.dark-mode .job-title .play-button svg,
.dark-mode .job-title .social-icon svg,
.dark-mode .light-blue-bg .play-button svg,
.dark-mode .light-blue-bg .social-icon svg,
.dark-mode .light-gray-bg .play-button svg,
.dark-mode .light-gray-bg .social-icon svg,
.dark-mode .light-green-bg .play-button svg,
.dark-mode .light-green-bg .social-icon svg,
.dark-mode .lightest-blue-bg .play-button svg,
.dark-mode .lightest-blue-bg .social-icon svg,
.dark-mode .lightest-gray-bg .play-button svg,
.dark-mode .lightest-gray-bg .social-icon svg,
.dark-mode .play-button svg,
.dark-mode .pronouns .play-button svg,
.dark-mode .pronouns .social-icon svg,
.dark-mode .social-icon svg,
.dark-mode .taxonomy-term .play-button svg,
.dark-mode .taxonomy-term .social-icon svg,
.dark-mode blockquote.pullquote .play-button svg,
.dark-mode blockquote.pullquote .social-icon svg,
.dark-mode blockquote:not([class]) .play-button svg,
.dark-mode blockquote:not([class]) .social-icon svg,
.dark-mode table .play-button svg,
.dark-mode table .social-icon svg,
.dark-mode table.light-blue .play-button svg,
.dark-mode table.light-blue .social-icon svg,
.dark-mode table.lightest-gray .play-button svg,
.dark-mode table.lightest-gray .social-icon svg,
.darkest-blue-bg .play-button svg,
.darkest-blue-bg .social-icon svg,
.gray-bg .play-button svg,
.gray-bg .social-icon svg,
.green-bg .play-button svg,
.green-bg .social-icon svg,
.job-title .play-button svg,
.job-title .social-icon svg,
.pronouns .play-button svg,
.pronouns .social-icon svg,
.taxonomy-term .play-button svg,
.taxonomy-term .social-icon svg,
[class*="-bg"] .job-title .play-button svg,
[class*="-bg"] .job-title .social-icon svg,
[class*="-bg"] .pronouns .play-button svg,
[class*="-bg"] .pronouns .social-icon svg,
[class*="-bg"] .taxonomy-term .play-button svg,
[class*="-bg"] .taxonomy-term .social-icon svg {
  fill: var(--dark-blue)
}
.dark-blue-bg,
.dark-blue-overlay {
  color: var(--white);
  background: var(--black);
  background: var(--dark-blue)
}
.accordion-set:not([class$="-bg"]) .title .expand .material-icons,
.cta.light-green:visited,
.cta.outline.dark-blue:visited,
.cta.outline.light-green:active:visited,
.cta.outline.light-green:focus:visited,
.cta.outline.light-green:hover:visited,
.cta.outline.white:active:visited,
.cta.outline.white:focus:visited,
.cta.outline.white:hover:visited,
.cta.white:active:visited,
.cta.white:focus:visited,
.cta.white:hover:visited,
.cta.white:visited,
.dark-mode .cta.light-green:visited,
.dark-mode .cta.outline.dark-blue:visited,
.dark-mode .cta.outline.light-green:active:visited,
.dark-mode .cta.outline.light-green:focus:visited,
.dark-mode .cta.outline.light-green:hover:visited,
.dark-mode .cta.outline.white:active:visited,
.dark-mode .cta.outline.white:focus:visited,
.dark-mode .cta.outline.white:hover:visited,
.dark-mode .cta.white:active:visited,
.dark-mode .cta.white:focus:visited,
.dark-mode .cta.white:hover:visited,
.dark-mode .cta.white:visited,
.dark-mode .page-content a.icon-with-text:active,
.dark-mode .page-content a.icon-with-text:focus,
.dark-mode .page-content a.icon-with-text:hover,
.dark-mode .sg-pattern-example a.icon-with-text:active,
.dark-mode .sg-pattern-example a.icon-with-text:focus,
.dark-mode .sg-pattern-example a.icon-with-text:hover,
.dark-mode .user-login-form .light-green.cas-login-link:visited,
.dark-mode .user-login-form .outline.dark-blue.cas-login-link:visited,
.dark-mode .user-login-form .outline.light-green.cas-login-link:active:visited,
.dark-mode .user-login-form .outline.light-green.cas-login-link:focus:visited,
.dark-mode .user-login-form .outline.light-green.cas-login-link:hover:visited,
.dark-mode .user-login-form .outline.white.cas-login-link:active:visited,
.dark-mode .user-login-form .outline.white.cas-login-link:focus:visited,
.dark-mode .user-login-form .outline.white.cas-login-link:hover:visited,
.dark-mode .user-login-form .white.cas-login-link:active:visited,
.dark-mode .user-login-form .white.cas-login-link:focus:visited,
.dark-mode .user-login-form .white.cas-login-link:hover:visited,
.dark-mode .user-login-form .white.cas-login-link:visited,
.dark-mode a.button.light-green:visited,
.dark-mode a.button.outline.dark-blue:visited,
.dark-mode a.button.outline.light-green:active:visited,
.dark-mode a.button.outline.light-green:focus:visited,
.dark-mode a.button.outline.light-green:hover:visited,
.dark-mode a.button.outline.white:active:visited,
.dark-mode a.button.outline.white:focus:visited,
.dark-mode a.button.outline.white:hover:visited,
.dark-mode a.button.white:active:visited,
.dark-mode a.button.white:focus:visited,
.dark-mode a.button.white:hover:visited,
.dark-mode a.button.white:visited,
.gray-overlay h5,
.gray-overlay h6,
.light-blue-bg h5,
.light-blue-bg h6,
.light-gray-bg h5,
.light-gray-bg h6,
.light-green-bg h5,
.light-green-bg h6,
.lightest-blue-bg h5,
.lightest-blue-bg h6,
.lightest-gray-bg h5,
.lightest-gray-bg h6,
.user-login-form .dark-mode .light-green.cas-login-link:visited,
.user-login-form .dark-mode .outline.dark-blue.cas-login-link:visited,
.user-login-form .dark-mode .outline.light-green.cas-login-link:active:visited,
.user-login-form .dark-mode .outline.light-green.cas-login-link:focus:visited,
.user-login-form .dark-mode .outline.light-green.cas-login-link:hover:visited,
.user-login-form .dark-mode .outline.white.cas-login-link:active:visited,
.user-login-form .dark-mode .outline.white.cas-login-link:focus:visited,
.user-login-form .dark-mode .outline.white.cas-login-link:hover:visited,
.user-login-form .dark-mode .white.cas-login-link:active:visited,
.user-login-form .dark-mode .white.cas-login-link:focus:visited,
.user-login-form .dark-mode .white.cas-login-link:hover:visited,
.user-login-form .dark-mode .white.cas-login-link:visited,
.user-login-form .light-green.cas-login-link:visited,
.user-login-form .outline.dark-blue.cas-login-link:visited,
.user-login-form .outline.light-green.cas-login-link:active:visited,
.user-login-form .outline.light-green.cas-login-link:focus:visited,
.user-login-form .outline.light-green.cas-login-link:hover:visited,
.user-login-form .outline.white.cas-login-link:active:visited,
.user-login-form .outline.white.cas-login-link:focus:visited,
.user-login-form .outline.white.cas-login-link:hover:visited,
.user-login-form .white.cas-login-link:active:visited,
.user-login-form .white.cas-login-link:focus:visited,
.user-login-form .white.cas-login-link:hover:visited,
.user-login-form .white.cas-login-link:visited,
.user-login-form [class*="-bg"] .light-green.cas-login-link:visited,
.user-login-form [class*="-bg"] .outline.dark-blue.cas-login-link:visited,
.user-login-form [class*="-bg"] .outline.light-green.cas-login-link:active:visited,
.user-login-form [class*="-bg"] .outline.light-green.cas-login-link:focus:visited,
.user-login-form [class*="-bg"] .outline.light-green.cas-login-link:hover:visited,
.user-login-form [class*="-bg"] .outline.white.cas-login-link:active:visited,
.user-login-form [class*="-bg"] .outline.white.cas-login-link:focus:visited,
.user-login-form [class*="-bg"] .outline.white.cas-login-link:hover:visited,
.user-login-form [class*="-bg"] .white.cas-login-link:active:visited,
.user-login-form [class*="-bg"] .white.cas-login-link:focus:visited,
.user-login-form [class*="-bg"] .white.cas-login-link:hover:visited,
.user-login-form [class*="-bg"] .white.cas-login-link:visited,
.user-login-form [class*="-overlay"] .light-green.cas-login-link:visited,
.user-login-form [class*="-overlay"] .outline.dark-blue.cas-login-link:visited,
.user-login-form [class*="-overlay"] .outline.light-green.cas-login-link:active:visited,
.user-login-form [class*="-overlay"] .outline.light-green.cas-login-link:focus:visited,
.user-login-form [class*="-overlay"] .outline.light-green.cas-login-link:hover:visited,
.user-login-form [class*="-overlay"] .outline.white.cas-login-link:active:visited,
.user-login-form [class*="-overlay"] .outline.white.cas-login-link:focus:visited,
.user-login-form [class*="-overlay"] .outline.white.cas-login-link:hover:visited,
.user-login-form [class*="-overlay"] .white.cas-login-link:active:visited,
.user-login-form [class*="-overlay"] .white.cas-login-link:focus:visited,
.user-login-form [class*="-overlay"] .white.cas-login-link:hover:visited,
.user-login-form [class*="-overlay"] .white.cas-login-link:visited,
.white-gradient-overlay h5,
.white-gradient-overlay h6,
[class$="-bg"] table h5,
[class$="-bg"] table h6,
[class*="-bg"] .cta.light-green:visited,
[class*="-bg"] .cta.outline.dark-blue:visited,
[class*="-bg"] .cta.outline.light-green:active:visited,
[class*="-bg"] .cta.outline.light-green:focus:visited,
[class*="-bg"] .cta.outline.light-green:hover:visited,
[class*="-bg"] .cta.outline.white:active:visited,
[class*="-bg"] .cta.outline.white:focus:visited,
[class*="-bg"] .cta.outline.white:hover:visited,
[class*="-bg"] .cta.white:active:visited,
[class*="-bg"] .cta.white:focus:visited,
[class*="-bg"] .cta.white:hover:visited,
[class*="-bg"] .cta.white:visited,
[class*="-bg"] .user-login-form .light-green.cas-login-link:visited,
[class*="-bg"] .user-login-form .outline.dark-blue.cas-login-link:visited,
[class*="-bg"] .user-login-form .outline.light-green.cas-login-link:active:visited,
[class*="-bg"] .user-login-form .outline.light-green.cas-login-link:focus:visited,
[class*="-bg"] .user-login-form .outline.light-green.cas-login-link:hover:visited,
[class*="-bg"] .user-login-form .outline.white.cas-login-link:active:visited,
[class*="-bg"] .user-login-form .outline.white.cas-login-link:focus:visited,
[class*="-bg"] .user-login-form .outline.white.cas-login-link:hover:visited,
[class*="-bg"] .user-login-form .white.cas-login-link:active:visited,
[class*="-bg"] .user-login-form .white.cas-login-link:focus:visited,
[class*="-bg"] .user-login-form .white.cas-login-link:hover:visited,
[class*="-bg"] .user-login-form .white.cas-login-link:visited,
[class*="-bg"] a.button.light-green:visited,
[class*="-bg"] a.button.outline.dark-blue:visited,
[class*="-bg"] a.button.outline.light-green:active:visited,
[class*="-bg"] a.button.outline.light-green:focus:visited,
[class*="-bg"] a.button.outline.light-green:hover:visited,
[class*="-bg"] a.button.outline.white:active:visited,
[class*="-bg"] a.button.outline.white:focus:visited,
[class*="-bg"] a.button.outline.white:hover:visited,
[class*="-bg"] a.button.white:active:visited,
[class*="-bg"] a.button.white:focus:visited,
[class*="-bg"] a.button.white:hover:visited,
[class*="-bg"] a.button.white:visited,
[class*="-overlay"] .cta.light-green:visited,
[class*="-overlay"] .cta.outline.dark-blue:visited,
[class*="-overlay"] .cta.outline.light-green:active:visited,
[class*="-overlay"] .cta.outline.light-green:focus:visited,
[class*="-overlay"] .cta.outline.light-green:hover:visited,
[class*="-overlay"] .cta.outline.white:active:visited,
[class*="-overlay"] .cta.outline.white:focus:visited,
[class*="-overlay"] .cta.outline.white:hover:visited,
[class*="-overlay"] .cta.white:active:visited,
[class*="-overlay"] .cta.white:focus:visited,
[class*="-overlay"] .cta.white:hover:visited,
[class*="-overlay"] .cta.white:visited,
[class*="-overlay"] .user-login-form .light-green.cas-login-link:visited,
[class*="-overlay"] .user-login-form .outline.dark-blue.cas-login-link:visited,
[class*="-overlay"] .user-login-form .outline.light-green.cas-login-link:active:visited,
[class*="-overlay"] .user-login-form .outline.light-green.cas-login-link:focus:visited,
[class*="-overlay"] .user-login-form .outline.light-green.cas-login-link:hover:visited,
[class*="-overlay"] .user-login-form .outline.white.cas-login-link:active:visited,
[class*="-overlay"] .user-login-form .outline.white.cas-login-link:focus:visited,
[class*="-overlay"] .user-login-form .outline.white.cas-login-link:hover:visited,
[class*="-overlay"] .user-login-form .white.cas-login-link:active:visited,
[class*="-overlay"] .user-login-form .white.cas-login-link:focus:visited,
[class*="-overlay"] .user-login-form .white.cas-login-link:hover:visited,
[class*="-overlay"] .user-login-form .white.cas-login-link:visited,
[class*="-overlay"] a.button.light-green:visited,
[class*="-overlay"] a.button.outline.dark-blue:visited,
[class*="-overlay"] a.button.outline.light-green:active:visited,
[class*="-overlay"] a.button.outline.light-green:focus:visited,
[class*="-overlay"] a.button.outline.light-green:hover:visited,
[class*="-overlay"] a.button.outline.white:active:visited,
[class*="-overlay"] a.button.outline.white:focus:visited,
[class*="-overlay"] a.button.outline.white:hover:visited,
[class*="-overlay"] a.button.white:active:visited,
[class*="-overlay"] a.button.white:focus:visited,
[class*="-overlay"] a.button.white:hover:visited,
[class*="-overlay"] a.button.white:visited,
a.button.light-green:visited,
a.button.outline.dark-blue:visited,
a.button.outline.light-green:active:visited,
a.button.outline.light-green:focus:visited,
a.button.outline.light-green:hover:visited,
a.button.outline.white:active:visited,
a.button.outline.white:focus:visited,
a.button.outline.white:hover:visited,
a.button.white:active:visited,
a.button.white:focus:visited,
a.button.white:hover:visited,
a.button.white:visited,
a:active:visited,
a:focus:visited,
a:hover:visited,
blockquote:not([class]) h5,
blockquote:not([class]) h6,
table h5,
table h6 {
  color: var(--dark-blue)
}
a,
a:active,
a:focus,
a:hover {
  text-decoration-color: var(--blue--lighter--60)
}
.gray-overlay a:visited,
.light-blue-bg a:visited,
.light-gray-bg a:visited,
.light-green-bg a:visited,
.lightest-blue-bg a:visited,
.lightest-gray-bg a:visited,
.white-gradient-overlay a:visited,
[class$="-bg"] table a:visited,
a:visited,
blockquote:not([class]) a:visited,
table a:visited {
  color: var(--purple)
}
button,
input[type=submit] {
  padding: var(--space--xs);
  transition: background var(--transition-speed--fast),color var(--transition-speed--fast),box-shadow var(--transition-speed--fast);
  color: var(--black);
  border: var(--border-width--md) outset var(--gray--lighter--80);
  border-radius: var(--border-radius--round);
  background: var(--gray--lighter--80)
}
.my-western-icon svg,
.social-icon svg {
  transition: var(--ease-standard) var(--transition-speed--fast) fill
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: default
}
#drupal-off-canvas .field--name-field-accordion-item tr.draggable,
#drupal-off-canvas .field--name-field-content-switcher-item tr.draggable,
#drupal-off-canvas .field--name-field-schedule-item tr.draggable,
#drupal-off-canvas .field--name-field-statistic tr.draggable,
.display-settings .wwu-menu,
.search-wrapper .simple-search .search-area,
.swatch-wrapper,
.western-menu .wwu-menu {
  display: flex
}
.material-icons {
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  direction: ltr;
  font-family: "Material Icons";
  font-size: var(--icon-size--md);
  font-weight: 400;
  font-style: normal;
  line-height: 1
}
.icon-with-text {
  display: inline-grid;
  align-content: center;
  justify-content: center;
  width: var(--toggle-size--lg);
  height: var(--toggle-size--lg);
  text-decoration: none;
  font-family: var(--font--condensed);
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--light);
  font-display: fallback
}
.icon-with-text .icon-text {
  display: block;
  margin-top: var(--space--xs)
}
.icon-with-text.small,
.social-icon.medium {
  width: var(--toggle-size--md);
  height: var(--toggle-size--md)
}
.icon-with-text.small .material-icons {
  font-size: var(--icon-size--sm)
}
.social-icon {
  display: block;
  width: var(--toggle-size--sm);
  height: var(--toggle-size--sm);
  transition: var(--ease-standard) var(--transition-speed--fast) background-color;
  color: var(--white);
  background: var(--blue)
}
.social-icon svg {
  fill: var(--white);
  width: 100%;
  padding: .5em
}
a {
  padding: .1563rem 0;
  transition: background-size var(--transition-speed--fast) cubic-bezier(.33,.66,.66,1),text-decoration var(--transition-speed--fast) ease-out;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: var(--border-width--md);
  text-underline-offset: .3125rem;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0
}
caption,
h1,
h2 {
  font-weight: var(--font-weight--bold)
}
a:active,
a:focus,
a:hover {
  transition: .25s ease-out;
  color: var(--dark-blue);
  background-image: var(--gradient--vertical--light-blue);
  background-size: 100% 100%
}
ol,
ul {
  margin: 0 0 var(--space--md)
}
li {
  line-height: 1.8
}
.logo {
  width: var(--logo-size);
  height: var(--logo-size)
}
.logo svg {
  width: 100%;
  height: 100%
}
html * {
  box-sizing: border-box
}
html {
  scroll-behavior: smooth;
  color: var(--black);
  font-family: var(--font--sans-serif);
  font-size: calc(1rem + .5vw);
  font-display: auto
}
.display-settings,
.ultimenu__region,
.western-menu {
  font-family: var(--font--condensed)
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--space--xl) 0 var(--space--xs);
  font-display: fallback;
  line-height: 1.2em
}
h1 {
  position: relative;
  display: block;
  color: var(--blue--darker--80);
  font-family: var(--font--title);
  font-size: var(--font-size--5xl)
}
.headings--underlined h2:after,
.headings--underlined h3:after,
.headings--underlined h4:after,
.headings--underlined h5:after,
.headings--underlined h6:after,
.headings-underlined h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  max-width: 6em;
  content: "";
  border-width: .12em;
  border-style: solid
}
h2 {
  color: var(--blue--darker--60);
  font-size: var(--font-size--4xl)
}
.headings--underlined .text-align-center h1:after,
.headings--underlined .text-align-center h2:after,
.headings--underlined .text-align-center h3:after,
.headings--underlined .text-align-center h4:after,
.headings--underlined .text-align-center h5:after,
.headings--underlined .text-align-center h6:after,
.page-title:after,
.pane-page-title h1:after,
.text-align-center .headings--underlined h1:after,
.text-align-center .headings--underlined h2:after,
.text-align-center .headings--underlined h3:after,
.text-align-center .headings--underlined h4:after,
.text-align-center .headings--underlined h5:after,
.text-align-center .headings--underlined h6:after,
.text-align-center.headings--underlined h1:after,
.text-align-center.headings--underlined h2:after,
.text-align-center.headings--underlined h3:after,
.text-align-center.headings--underlined h4:after,
.text-align-center.headings--underlined h5:after,
.text-align-center.headings--underlined h6:after {
  left: 50%;
  transform: translatex(-50%)
}
p {
  margin: 0 0 var(--space--md);
  line-height: 1.7em
}
#islandora-bookmark select,
#islandora-collection-search-form label,
#islandora_solr_results_limit li,
.acalog body,
.block--beyond-basics-block.no-margin,
.event-list .event p,
.menu .menu,
.no-margin,
.page-islandora .site-footer #edit-cas-login-redirection-message,
.paragraph--type--majors-aside.no-margin,
.wwu-footer .copyright p {
  margin: 0
}
#block-system-main-menu .ultimenu--horizontal a,
#block-system-main-menu>.menu a,
.block--card.color-block-title .title a,
.block--card.event.alt .location a,
.block--card.event.alt .title a,
.block--card.information.split-style .title a,
.block--card.simple .title a,
.card.color-block-title .title a,
.card.event.alt .location a,
.card.event.alt .title a,
.card.information.split-style .title a,
.card.simple .title a,
.dark-mode .block--card.simple a,
.dark-mode .card.simple a,
.headline.left-aligned-bar a,
.headline.right-aligned-bar a,
.main-navigation .ultimenu--horizontal a,
.main-navigation>.menu a {
  text-decoration-color: var(--blue--lighter--60);
  color: var(--white)
}
#block-system-main-menu .ultimenu--horizontal a:visited,
#block-system-main-menu>.menu a:visited,
.block--card.color-block-title .title a:visited,
.block--card.event.alt .location a:visited,
.block--card.event.alt .title a:visited,
.block--card.information.split-style .title a:visited,
.block--card.simple .title a:visited,
.card.color-block-title .title a:visited,
.card.event.alt .location a:visited,
.card.event.alt .title a:visited,
.card.information.split-style .title a:visited,
.card.simple .title a:visited,
.dark-mode .block--card.simple a:visited,
.dark-mode .card.simple a:visited,
.headline.left-aligned-bar a:visited,
.headline.right-aligned-bar a:visited,
.main-navigation .ultimenu--horizontal a:visited,
.main-navigation>.menu a:visited {
  color: var(--white);
  text-decoration-color: var(--purple--lighter--60)
}
#block-system-main-menu .ultimenu--horizontal a:active,
#block-system-main-menu .ultimenu--horizontal a:focus,
#block-system-main-menu .ultimenu--horizontal a:hover,
#block-system-main-menu>.menu a:active,
#block-system-main-menu>.menu a:focus,
#block-system-main-menu>.menu a:hover,
.block--card.event.alt .location a:active,
.block--card.event.alt .location a:focus,
.block--card.event.alt .location a:hover,
.card.event.alt .location a:active,
.card.event.alt .location a:focus,
.card.event.alt .location a:hover,
.dark-mode .block--card.simple a:active,
.dark-mode .block--card.simple a:focus,
.dark-mode .block--card.simple a:hover,
.dark-mode .card.simple a:active,
.dark-mode .card.simple a:focus,
.dark-mode .card.simple a:hover,
.headline.left-aligned-bar a:active,
.headline.left-aligned-bar a:focus,
.headline.left-aligned-bar a:hover,
.headline.right-aligned-bar a:active,
.headline.right-aligned-bar a:focus,
.headline.right-aligned-bar a:hover,
.main-navigation .ultimenu--horizontal a:active,
.main-navigation .ultimenu--horizontal a:focus,
.main-navigation .ultimenu--horizontal a:hover,
.main-navigation>.menu a:active,
.main-navigation>.menu a:focus,
.main-navigation>.menu a:hover {
  color: var(--black);
  outline-color: var(--white);
  background-image: var(--gradient--vertical--light-blue)
}
#block-system-main-menu,
.main-navigation {
  grid-area: main-nav;
  border-top: solid var(--blue--darker--40) var(--border-width--sm);
  font-family: var(--font--condensed)
}
#block-system-main-menu .ultimenu--horizontal,
#block-system-main-menu > .menu,
.main-navigation .ultimenu--horizontal,
.main-navigation > .menu {
  color: var(--white);
  background: var(--gray);
  background: var(--blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding-left: 0
}
#block-system-main-menu .ultimenu--horizontal > li,
#block-system-main-menu > .menu > li,
.main-navigation .ultimenu--horizontal > li,
.main-navigation > .menu > li {
  display: grid;
  grid-template-areas: "link icon" "flyout flyout";
  grid-template-columns: 1fr var(--toggle-size--sm);
  grid-template-rows: auto auto;
  width: 100%;
  border-bottom: var(--border-width--sm) solid var(--blue--darker--20);
  border-left: none
}
#block-system-main-menu .ultimenu--horizontal > li:focus-within,
#block-system-main-menu .ultimenu--horizontal > li:hover,
#block-system-main-menu > .menu > li:focus-within,
#block-system-main-menu > .menu > li:hover,
.main-navigation .ultimenu--horizontal > li:focus-within,
.main-navigation .ultimenu--horizontal > li:hover,
.main-navigation > .menu > li:focus-within,
.main-navigation > .menu > li:hover {
  background-image: var(--gradient--vertical--light-blue)
}
#block-system-main-menu .ultimenu--horizontal > li > a,
#block-system-main-menu > .menu > li > a,
.main-navigation .ultimenu--horizontal > li > a,
.main-navigation > .menu > li > a {
  position: relative;
  grid-column: 1/span all;
  grid-row: 1/span 1;
  width: 100%;
  min-height: var(--touch-target--min);
  margin: 0;
  padding: var(--space--sm);
  transition: none;
  text-align: left;
  white-space: normal;
  text-decoration: none;
  font-weight: var(--font-weight--regular);
  line-height: 1
}
#block-system-main-menu .ultimenu--horizontal > li > a:active,
#block-system-main-menu .ultimenu--horizontal > li > a:focus,
#block-system-main-menu .ultimenu--horizontal > li > a:hover,
#block-system-main-menu > .menu > li > a:active,
#block-system-main-menu > .menu > li > a:focus,
#block-system-main-menu > .menu > li > a:hover,
.main-navigation .ultimenu--horizontal > li > a:active,
.main-navigation .ultimenu--horizontal > li > a:focus,
.main-navigation .ultimenu--horizontal > li > a:hover,
.main-navigation > .menu > li > a:active,
.main-navigation > .menu > li > a:focus,
.main-navigation > .menu > li > a:hover {
  background-size: 0 0
}
.dark-mode .western-menu .icon-with-text span,
.dark-mode .western-menu .icon-with-text:visited span,
.ultimenu__region .block--countdown,
.ultimenu__region caption,
.ultimenu__region h5,
.ultimenu__region h6,
.western-menu .icon-with-text:visited {
  color: var(--white)
}
.western-menu {
  display: flex;
  grid-area: wwu-menu;
  align-self: start;
  justify-content: flex-end;
  max-width: 100vw
}
.western-menu .icon-with-text {
  padding: var(--space--2xs) var(--space--xs) var(--space--xs) var(--space--xs);
  color: var(--white)
}
.email_signature_table,
.western-menu .icon-with-text.report-bias-quick-link {
  width: initial
}
.block--pullquote.pullquote--editorial blockquote .credit,
.page-title,
.pane-page-title h1,
.wwu-footer .western-info {
  text-align: center
}
.block--testimonial,
.wwu-footer {
  display: flex;
  flex-flow: column
}
.block--schedule .schedule-item h2,
.search-wrapper .search-results-summary h2,
.timeline-block:nth-of-type(even) h2,
.timeline-block:nth-of-type(odd) h2,
.western-header a:visited:active,
.western-header a:visited:focus,
.western-header a:visited:hover {
  color: var(--dark-blue--darker--60)
}
.search {
  z-index: 0;
  display: flex;
  justify-content: end
}
.search .submit-search,
.search .toggle-search {
  order: 2;
  border: none;
  border-radius: 0;
  background-color: transparent
}
.search .search-area {
  display: flex;
  order: 1
}
.social-media-links {
  display: flex;
  flex-flow: row wrap;
  max-width: 25rem;
  padding: 0;
  list-style: none
}
.social-media-links .social-icon {
  margin: var(--space--md) var(--space--md) 0 0
}
.wwu-footer .copyright,
.wwu-footer .tribal-lands-statement p {
  font-weight: var(--font-weight--light)
}
.path-frontpage .block--page-title-block,
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  word-wrap: normal;
  white-space: nowrap
}
.page-content,
.site-footer {
  -ms-grid-columns: var(--grid-columns--sm);
  grid-template-columns: var(--grid-columns--sm)
}
.page-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-areas: " . skip_to_content . " " . content         . ";
  grid-template-rows: auto
}
.page-content .region-wrapper {
  grid-area: content;
  -ms-grid-row: 2
}
.site-footer {
  display: -ms-grid;
  display: grid;
  padding: var(--space--lg) 0;
  -ms-grid-rows: auto var(--space--sm) auto var(--space--sm) auto;
  grid-template-areas: ". footer_left   ." ". ............. ." ". footer_center ." ". ............. ." ". footer_right  ." ". footer_bottom .";
  grid-template-rows: auto var(--space--sm) auto var(--space--sm) auto
}
.site-footer .region--footer_left {
  grid-area: footer_left;
  -ms-grid-row: 1
}
.wwu-footer .logo {
  width: var(--logo-size);
  height: var(--logo-size);
  margin: 0 auto
}
.wwu-footer .tribal-lands-statement {
  align-self: center;
  margin-top: var(--sapce--sm);
  padding: 0 var(--space--md);
  text-align: center
}
.wwu-footer .social-media-links {
  justify-content: center;
  margin: .75rem auto
}
.wwu-footer .social-media-links .social-icon {
  margin: var(--space--sm) 0 0 var(--space--sm)
}
.wwu-footer .copyright {
  text-align: center;
  font-size: var(--font-size--sm)
}
.toggle-menu,
.western-header a,
.western-header a:visited,
.western-header-region .block .block--countdown,
.western-header-region .block caption {
  color: var(--white)
}
.western-header {
  position: relative;
  display: grid;
  grid-template-areas: ".... logo menu-toggle" "site-name site-name site-name" "western-header-region western-header-region western-header-region";
  grid-template-columns: var(--toggle-size--sm) auto var(--toggle-size--sm);
  grid-template-rows: var(--logo-size) auto auto
}
.western-header .site-name {
  grid-area: site-name;
  align-self: center;
  margin: var(--space--sm);
  padding: var(--space--sm);
  text-align: center;
  border-top: solid var(--border-width--sm) var(--blue);
  border-bottom: solid var(--border-width--sm) var(--blue);
  font-size: var(--font-size--lg)
}
.western-header .site-name .home-link {
  text-decoration: none;
  padding: var(--space--2xs)
}
.western-header .western-logo {
  position: relative;
  grid-area: logo;
  width: var(--logo-size) var(--space--md);
  height: var(--logo-size);
  margin: auto;
  padding-right: var(--toggle-size--sm)
}
.western-header .western-header-region {
  grid-area: western-header-region
}
.toggle-menu {
  position: relative;
  grid-area: menu-toggle;
  width: initial;
  border: none;
  border-radius: 0;
  background: 0 0;
  line-height: 1.1
}
.mobile-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  display: grid;
  grid-template-areas: "display-settings menu-toggle" "wwu-menu wwu-menu" "main-nav main-nav";
  grid-template-columns: auto var(--toggle-size--sm);
  grid-template-rows: auto;
  align-content: start;
  min-height: 100vh;
  transition: var(--transition-speed--fast) var(--ease--standard);
  transition-property: opacity,transform;
  transform: translatex(0);
  opacity: 1
}
.mobile-menu.closed {
  visibility: hidden;
  width: 0;
  transform: translatex(100%);
  opacity: 0
}
.ultimenu {
  z-index: initial;
  overflow: visible;
  font-size: var(--font-size--sm)
}
main .layout__region {
  max-width: calc(100vw - (var(--space--sm) * 2))
}
.layout--onecol--full .layout__region {
  width: 100%
}
@media (min-width:580px) {
.wwu-footer {
    -ms-grid-columns: var(--space--sm) 1fr 1fr var(--space--sm);
    -ms-grid-rows: var(--space--lg) auto auto var(--space--lg);
    grid-template-areas: ". ... ... ." ". logo info  ." ". statement icons ." ". copyright copyright .";
    grid-template-columns: var(--space--sm) 1fr 1fr var(--space--sm);
    grid-template-rows: var(--space--lg) auto auto var(--space--lg);
    justify-items: end
  }
.wwu-footer .logo {
    grid-area: logo;
    -ms-grid-column: 2;
    justify-self: center
  }
.wwu-footer .tribal-lands-statement {
    grid-area: statement;
    -ms-grid-column: 3
  }
.wwu-footer .social-media-links {
    grid-area: icons;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    align-content: start;
    justify-content: end
  }
.wwu-footer .copyright {
    grid-area: copyright;
    margin: auto
  }
}
@media (min-width:950px) {
.org-chart ul li a,
  .org-chart ul li span,
  .social-media-links {
    max-width: none
  }
#block-system-main-menu .ultimenu--horizontal>li .expand-icon.mobile,
  #block-system-main-menu>.menu>li .expand-icon.mobile,
  .main-navigation .ultimenu--horizontal>li .expand-icon.mobile,
  .main-navigation>.menu>li .expand-icon.mobile,
  .org-chart .item-level-a.no-children>a:before,
  .org-chart .item-level-a.no-children>span:before,
  .org-chart .item-level-b:last-child>.level-c:before,
  .org-chart .item-level-b:last-of-type>a:before,
  .org-chart .item-level-b:last-of-type>span:before,
  .org-chart .item-level-b:only-child:before,
  .org-chart .item-level-b>a:before,
  .org-chart .item-level-b>span:before,
  .toggle-menu {
    display: none
  }
#block-system-main-menu,
  .main-navigation {
    width: 100%;
    height: inherit;
    border-top: none
  }
#block-system-main-menu .ultimenu--horizontal > li,
  #block-system-main-menu > .menu > li,
  .main-navigation .ultimenu--horizontal > li,
  .main-navigation > .menu > li {
    grid-template-columns: 1fr var(--icon-size--xs);
    width: inherit;
    border-bottom: none
  }
#block-system-main-menu .ultimenu--horizontal > li > a,
  #block-system-main-menu > .menu > li > a,
  .main-navigation .ultimenu--horizontal > li > a,
  .main-navigation > .menu > li > a {
    display: flex;
    align-items: center;
    padding: var(--space--sm);
    padding-right: var(--icon-size--xs);
    text-align: center
  }
.western-menu {
    grid-area: none;
    grid-column: 2/span all;
    grid-row: 1/span 1
  }
.western-menu .icon-with-text {
    display: flex;
    align-items: center;
    width: initial;
    height: initial;
    min-height: var(--touch-target--min);
    background-size: 100%
  }
.western-menu .icon-with-text .material-icons {
    position: relative;
    top: .125rem;
    margin-right: var(--space--2xs);
    font-size: var(--icon-size--sm)
  }
.search {
    right: inherit;
    left: inherit
  }
.site-footer {
    -ms-grid-columns: var(--space--sm) 1fr var(--space--sm) 1fr var(--space--sm) 1fr var(--space--sm);
    -ms-grid-rows: auto auto;
    grid-template-areas: ". footer_left . footer_center . footer_right ." ". footer_bottom footer_bottom footer_bottom footer_bottom footer_bottom .";
    grid-template-columns: var(--space--sm) 1fr var(--space--sm) 1fr var(--space--sm) 1fr var(--space--sm);
    grid-template-rows: auto auto
  }
.wwu-footer .logo {
    align-self: center;
    justify-self: start
  }
.western-header {
    grid-template-areas: "logo display-settings wwu-menu" "logo site-name site-name" "logo western-header-region western-header-region" "main-nav main-nav main-nav";
    grid-template-columns: calc((var(--logo-size) + (var(--space--md) * 2))) 1fr 2fr;
    grid-template-rows: calc((var(--logo-size)/ 3)) calc((var(--logo-size)/ 3)) auto auto
  }
.western-header .site-name {
    margin: 0;
    padding: 0;
    text-align: left;
    border-top: none;
    border-bottom: none
  }
.western-header .western-logo {
    margin: initial;
    padding: 0
  }
}
@media (min-width:1300px) {
html {
    font-size: calc(1rem + (var(--content-area-max-width) * .005))
  }
.page-content {
    -ms-grid-columns: var(--grid-columns--lg);
    grid-template-columns: var(--grid-columns--lg)
  }
.site-footer {
    -ms-grid-columns: 1fr calc(var(--content-area-max-width)/ 3) var(--space--sm) calc(var(--content-area-max-width)/ 3) var(--space--sm) calc(var(--content-area-max-width)/ 3) 1fr;
    grid-template-columns: 1fr calc(var(--content-area-max-width)/ 3) var(--space--sm) calc(var(--content-area-max-width)/ 3) var(--space--sm) calc(var(--content-area-max-width)/ 3) 1fr
  }
.wwu-footer {
    -ms-grid-columns: calc((100vw - var(--content-area-max-width))/ 2) auto auto auto calc((100vw - var(--content-area-max-width))/ 2);
    display: -ms-grid;
    display: grid;
    grid-template-areas: ". ... ... ... ." ". logo statement info  ." ". logo statement icons ." ". copyright copyright copyright .";
    grid-template-columns: calc((100vw - var(--content-area-max-width))/ 2) auto auto auto calc((100vw - var(--content-area-max-width))/ 2)
  }
.wwu-footer .western-info {
    grid-area: info;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    align-self: end;
    text-align: right
  }
.layout--onecol--full .layout__region {
    max-width: var(--content-area-max-width);
    margin: auto
  }
}
