/* You can add global styles to this file, and also import other style files */

// html, body, .full-height{
//   height: 100%;
// }

body {
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  // overflow: hidden;
}

// .scrolling-column {
//   height: calc(100% - 210px);
//   overflow-x: hidden;
//   overflow-y: auto;
// }

.invisible {
  visibility: hidden;
}

.heading {
  padding-left: 2em;
}

// Changes supplied by Stephanie

.material-icons {
  font-size: var(--icon-size--xs);
}

.mat-tab-nav-bar.mat-background-primary > .mat-tab-link-container {
  background-color: var(--blue);
}

.mat-tab-links {
  justify-content: center;
}

.mat-tab-link {
  opacity: 1;
}

.mat-tab-nav-bar.mat-background-primary
> .mat-tab-link-container
.mat-tab-link:hover {
  color: var(--dark-blue--darker--20);
}

.mat-tab-group.mat-accent .mat-ink-bar,
.mat-tab-nav-bar.mat-accent .mat-ink-bar {
  background-color: var(--light-green--lighter--20);
}

.heading,
.mat-nav-list {
  max-width: var(--content-area-max-width);
  margin: auto;
}
