<div class="floating-action-fab" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button mat-mini-fab color="primary" [fxHide]="isEditHidden" [disabled]="!isEditEnabled" (click)="edit()">
    <mat-icon aria-label="Edit">edit</mat-icon>
  </button>
  <button mat-mini-fab color="accent" [fxHide]="isCancelHidden" [disabled]="!isCancelEnabled" (click)="cancel()">
    <mat-icon aria-label="Cancel">close</mat-icon>
  </button>
  <button mat-mini-fab color="primary" [fxHide]="isSaveHidden" [disabled]="!isSaveEnabled" (click)="save()">
    <mat-icon aria-label="Save">check</mat-icon>
  </button>
</div>
